In [1]:
import numpy as np
import pandas as pd
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

## Acquire data

In [2]:
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
valid_df = pd.read_csv('../data/valid.csv')
combine = [train_df, test_df]

## Analyze by describing data

In [6]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
train_df.info()
print('**')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
PassengerId    800 non-null int64
Survived       800 non-null int64
Pclass         800 non-null int64
Name           800 non-null object
Sex            800 non-null object
Age            637 non-null float64
SibSp          800 non-null int64
Parch          800 non-null int64
Ticket         800 non-null object
Fare           800 non-null float64
Cabin          185 non-null object
Embarked       799 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 75.1+ KB
**
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,800.0000,800.0000,800.000000,637.000000,800.000000,800.000000,800.000000
mean,400.5000,0.3850,2.305000,29.871146,0.518750,0.373750,33.038536
std,231.0844,0.4869,0.836869,14.544301,1.063514,0.801476,51.524950
min,1.0000,0.0000,1.000000,0.670000,0.000000,0.000000,0.000000
25%,200.7500,0.0000,2.000000,21.000000,0.000000,0.000000,7.925000
50%,400.5000,0.0000,3.000000,28.000000,0.000000,0.000000,14.500000
75%,600.2500,1.0000,3.000000,38.000000,1.000000,0.000000,31.275000
max,800.0000,1.0000,3.000000,80.000000,8.000000,6.000000,512.329200

In [29]:
train_df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,800.0000,800.0000,800.000000,800,800,637.000000,800.000000,800.000000,800,800.000000,185,799
unique,NaN,NaN,NaN,800,2,NaN,NaN,NaN,625,NaN,136,3
top,NaN,NaN,NaN,"Graham, Mr. George Edward",male,NaN,NaN,NaN,CA 2144,NaN,G6,S
freq,NaN,NaN,NaN,1,517,NaN,NaN,NaN,6,NaN,4,577
mean,400.5000,0.3850,2.305000,NaN,NaN,29.871146,0.518750,0.373750,NaN,33.038536,NaN,NaN
std,231.0844,0.4869,0.836869,NaN,NaN,14.544301,1.063514,0.801476,NaN,51.524950,NaN,NaN
min,1.0000,0.0000,1.000000,NaN,NaN,0.670000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,200.7500,0.0000,2.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.925000,NaN,NaN
50%,400.5000,0.0000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.500000,NaN,NaN
75%,600.2500,1.0000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN
max,800.0000,1.0000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN